$black1:#23272A;
$black2:#2F3136;
$black3:#36393F;
$black4:#303339;
$black5:#2A2D32;

$gray1: #8E9297;
$gray2: #757575;
$gray21: rgba(#757575, 0.2);
$gray3: #72767D;
$gray4: #DCDDDE;

$white: #FFFFFF;

$red1: #FF5252;

$yellow1: #FAA61A;